.icon-xl {
    font-size: 67px !important;
}

.h-screen {
    height: 100vh;
}

.top-0 {
    top: 0 !important;
}

.right-0 {
    right: 0 !important;
}

.w-fit {
    width: fit-content !important;
}

.left-0 {
    left: 0 !important;
}

.object-cover {
    object-fit: cover !important;
}
.h-300px {
    height: 300px !important;
}

.circle-md {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}